body {
	display: flex;
	flex-wrap: wrap;
	border: 2px dashed red;
	/* justify-content: flex-end;
	align-items: flex-end; */
	height: 500px;
}

div {
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin: 2px;
	text-align: center;
}