div {
	width: 100px;
	height: 50px;
	border-radius: 25px;
	display: inline-block;
	border: 2px solid black;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}